body{
    user-select: none;
}
.content{
    width:1240px;
    margin:auto;
}
.main_left{
    width:220px;
}
.main_right{
    width:1000px;
}
.main_left_ul li{
    margin:3px 0;
    cursor:pointer;
}
.main_left_ul li:nth-child(1){
    margin-top:0;
    user-select: none;
}
.main_left_ul li .datadetail{
    padding-left:20px;
}
.main_left h3{
    font-weight:normal;
    font-size:18px;
    background:limegreen;
    user-select:none;
}
.datadetail{
    display:none;
    user-select:none;
}
.show{
    display:block;
}
.datadetail p{
    cursor:pointer;
}
.datadetail p.active{
    color:red;
}

.main_right table{
    width:800px;
    margin:10px auto;
}
.main_right th{
    border:1px solid;
    height:40px;
}
.main_right td{
    border:1px solid;
    height:40px;
    text-align:center;
}

#instorage{
    width:400px;
    margin-top:40px;
    text-align:right;
}
.submit_instorage{
    float:right;
    padding:5px;
    color:#fff;
    background:#666;
    cursor:pointer;
    outline:none;
}

#outstorage{
    margin-top:40px;
}

.submit_outstorage_div{
    margin-top:40px;
    text-align:right;
}
.submit_outstorage{
    margin-right:100px;
    text-align:right;
}
#selectBuyInput{
    margin-top:40px;
    text-align:center;
}
#submitDeleteCanDate{
    margin-left:400px;
}






